[submodule "scripts/cmake_utilities"]
	path = scripts/cmake_utilities
	url = https://github.com/Arnizack/cmake_utilities.git
[submodule "jpctracer/c/libs/cglm"]
	path = jpctracer/c/libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "jpctracer/c/libs/libsimdpp"]
	path = jpctracer/c/libs/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "jpctracer/c/libs/libcyaml"]
	path = jpctracer/c/libs/libcyaml
	url = https://github.com/tlsa/libcyaml.git
[submodule "jpctracer/c/libs/libyaml"]
	path = jpctracer/c/libs/libyaml
	url = https://github.com/tlsa/libyaml.git
[submodule "jpctracer/c/libs/yaml-cpp"]
	path = jpctracer/c/libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "jpctracer/c/libs/ufbx"]
	path = jpctracer/c/libs/ufbx
	url = https://github.com/ufbx/ufbx.git
